*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.header-container{
    width: auto;
    height: 90px; 
    background-color: #FCFBFE;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.g{
    color: #FF42A5;
}
.logo-contain{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    list-style: none;
    margin-left: 32px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
#Follow{
    padding: 10px 20px;
    background-color: #E7E6E9;
    border-radius: 8px;
}

/* this is banner section */
.banner-container{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    padding: 40px; 
}
.banner-contain{
    width: 50%;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      padding: 80px;
      margin-top: 90px;
   
}
.primary-titel{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.primary-p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.banner-image img{
    width: 600px;
    background-position: bottom;
}
.primary-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FF42A5;
    margin-top: 20px;
    border: 0;
}
.btn1{
    background-color: #4EC5F7;
}
.primary-color{
    color: #a849df;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

/* this is online game section */

.game-contain{
    text-align: center;
    margin-top: 100px;
}
.game-color{
    color: #a849df;
}

.game-image{
    text-align: center;
    padding: 50px;
    display: flex;
 
}
.container {
    position: relative;
    width: 250px;

  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.7;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: transparent;
    color: rgb(206, 24, 127);
    font-size: 20px;
    padding: 16px 32px;
  }


.gameimg{
    width: 250px;
    padding: 10px;
}

/* this is play instantly section */

.Play-Instantly-container{
    display: flex;
    padding: 80px 120px;
    gap: 200px;
    
}
.Play-Instantly-contain{
    width: 50%;
    text-align: center;
    margin-top: 120px;
  
}
.Play-Instantly-image{
    width: 50%;
    
}
.Play-Instantly-image img {
    width: 480px;
}
.image-2 img{
    width: 250px;
    position: relative;
    bottom: 170px;
    right: 85px;
}
/* this is button section */
.button-container{
    height: 30vh;
   margin-left: 80px;
   margin-top: 0;
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.button-part1{
    display: flex;
    margin-bottom: 25px;
   
}
.button-part1 div{
    display: flex;
    align-items: center;
    margin-right: 50px;
    background: white;
    border-radius: 50px;
    padding: 5px;
}
.button-part1 div:hover{
    border: 1px solid skyblue;
}
.button-part2{
    display: flex;
}
.button-part2 div{
    display: flex;
    align-items: center;
    margin-left: 50px;
    background: white;
    border-radius: 50px;
    padding: 5px;

}
.button-part2 div:hover{
    border: 1px solid skyblue;
}

/* this is footer container */
footer{
    background-color: #0B0223;
}
.footer-container{
   
    display: flex;
    align-items: center;
    margin-left: 480px;
    text-align: center;    
}
.footer-titel{
    
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.footer-conatain{
    display: flex;
}

.menu2{
   
    display: grid;
    grid-template-columns: repeat(6,1fr);
    color: white;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 65px;
    margin-left: 30px;
}

.menu3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: rgb(124, 121, 121);
    list-style: none;
    font-size: 12px;
    font-weight: 800;
    margin-left: 30px;
    margin-top: 66px;
    margin-bottom: 66px;
    
}
.icon{
    display: flex;
  margin-left: 400px;
    font-size: 30px;
    margin-top: 65px;

}
small{
    margin-left: 400px;
    
 }

@media screen and (max-width: 576px) {
   
    .header-container
    {
        flex-direction: column;
        width: 100%;
        padding: 80px;
        
    }
    .menu{
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .banner-container{
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 500px;
        text-align: center;
    }
    .banner-contain{
        width: 100%;
        

    }
    .online-game-container{
        width: 100%;
    }
    .game-contain{
        margin-top: 400px;
        margin-left: 280px;
        

    }
    .game-image{
        flex-direction: column;
        margin-left: 200px;
        
    }

    .Play-Instantly-container{
        width: 100%;
        flex-direction: column;
    }
    .Play-Instantly-contain{
        margin: auto;
    }
    .Play-Instantly-image{
        margin: auto;
    }
    footer{
        width: 950px;
    }
    .button-part1{
        margin: auto;
        margin-bottom: 20px;
       
        
    }
    .button-container{
        margin-bottom: 70px;
        
    }
    
    footer div{
        flex-direction: column;
        margin-top: 0;
    }

    .footer-container{
   
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        text-align: center;
        flex-wrap: wrap;             
    }
    .menu2{
        display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 60px;
    margin-left: 180px;
    margin-bottom: 10px;
    }
    .menu3{
        display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 60px; 
    margin-left: 200px;
    }

    .icon{
       flex-direction: row;
       margin-left: 0;
       margin-left: 200px;
       padding: 50px;
    }
    small{
       
       margin-left: 150px;
       
    }
   

    
}